@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}
/* End of Default Styles */

header {
  background-color: var(--secondary-color);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.back_btn {
  background-color: white;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 5rem;
  text-decoration: none;
}

.search {
  background-color: transparent;
  border: 0.2rem solid var(--primary-color);
  border-radius: 5rem;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  color: white;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus, .search:active {
  outline: none;
  background-color: var(--primary-color);
}

main#main {
  display: flex;
  flex-wrap: wrap;
  overflow-y: visible;
}

.movie {
  width: 30rem;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 0.4rem 0.5rem rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
}

.movie img, .single-movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  border-radius: 0.3rem;
}

.movie-info span.green {
  color: green;
}

.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

/* Single movie page styles */

main#single-movie {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.images {
  width: 100vw;
}

.movie-details {
  color: white;
  letter-spacing: 0.5px;
}

.movie-details h1 {
  position: relative;
  margin: 0 0 1rem 0;
}

.movie-details h1 span {
  position: absolute;
  font-size: 1rem;
  border: 0.1rem solid white;
  top: 1.5rem;
  margin-left: 1rem;
  padding: 0.3rem 0.5rem;
}

.images img.backdrop {
  width: 100vw;
  opacity: 0.5;
  position: relative;
}

.images img.poster {
  position: absolute;
  top: 8rem;
  left: 2rem;
  width: 20rem;

}

.movie-details {
  position: absolute;
  top: 8rem;
  margin-left: 24rem;
}

.movie-details p {
  margin: 1rem 0;
}

.movie-details a {
  color: white;
}

.movie-details h3 {
  margin: 2rem 0;
}
