@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #8e44ad;
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
/* End of Default Styles */

.counter-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 3rem 5rem;
}

.counter {
  font-size: 6rem;
  margin-top: 1rem;
}


@media(max-width: 580px) {
  body {
    flex-direction: column;
  }
}
